/* Fuentes */

@font-face {
    font-family: 'VAGrounded';
    src: url('VAGrounded.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VAGrounded';
    src: url('VAGrounded.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    width: 100%;
    height: 100%;
    font-family: 'VAGrounded';
}
body{
    width: 100%;
    margin: 0%;
    background-color: #b9d3ef;
    font-family: 'VAGrounded';
}

#menu{
    width: 100%;
    height: 30px;
    background-color: white;
    position: fixed;
    left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0;
}

#menu img{
    width: 75px;
    height: 25px;
}

#menu nav{
    background-color: #dfe4da;    
    overflow:hidden;
    width:100%;
    margin-left: auto;
    margin-right: auto;
}

#menu nav ul{
    list-style:none;
    margin:0 10px 0 10px;
    padding:0;
}

#menu nav ul li{
    float:left;
    font-family: 'VAGrounded';
    color: #394267;
    font-size:16px;
    font-weight:bold;
    margin-right:10px;
    text-align:center;
    /*Sombras para texto, los mismos parametros que box-shadow*/
}



#menu nav ul li a{
    color:#999;
    display:block;
    padding:10px;
    text-decoration:none;
    /*Transiciones*/

}

#menu nav ul li a:hover {
    color:#000;
}

#menu form input{
    max-width: 75px;
}

#menu label{
    font-family: 'VAGrounded';
    font-size:12px;
    font-weight:bold;
    text-shadow: 0px 0px 0px #FFF;
    padding:10px;
}

#login-form{
    margin-top: 8px;
    color: #394267;
    text-align: right;
}

#uploadButton{
    text-align: center;
    float: left;
    margin-left: 250px; 
}

#login-form a{
    font-size: 12px;
    font-weight: bold;
}

#content{
    width: 100%;
    height: 100%;
    background-color: #b9d3ef;
    padding-top: 49px;
}

#time-line{
    width:900px;
    height: 100%;
    background-color: #b9d3ef;
    margin-left: auto;
    margin-right: auto;
}

/* Estilo de un post */
.post{
    height: 100%;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-left: #999 1px solid;
    border-right: #999 1px solid;
    border-bottom: #999 1px solid;
}

.post-cabecera{
    height: 50px;
    width: 100%;
    background-color: white;
    border-bottom: #999 1px solid;
}

.post-contenido{
    height: 450px;
    width: 100%;
    background-color:white;
    border-bottom: #999 1px solid;
    overflow:hidden;
    display: flex;
}

.post-contenido img{
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.post-stats{
    height: 148px;
    width: 100%;
    background-color: white;
    border-bottom: #999 1px solid;
}

.user-avatar{
    width: 50px;
    height: 100%;
    float: left;
}

.user-avatar img {
    width: 80%;
    height: 80%;
    border:3px solid rgb(136, 6, 125);
    border-radius: 50%;
    margin: 3px;
}

.user-name{
    width: 450px;
    height: 100%;
    font-family: 'VAGrounded';
    color: #394267;
    font-size: 25px;
    float: left;
    text-align: center;
    line-height: 50px;
}

.user-level{
    width: 50px;
    height: 100%;
    background-color: rgb(223, 212, 61);
    float: left;
    color: #394267;
    font-family: 'VAGrounded';
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    border-radius: 50%;
}

.post-likes{
    padding:0px;
}

.post-likes input{
    margin: 5px;
    height: 20px;
    width: 20px;
    float: left;
}

.likes-number{
    margin: 0px; 
    padding: 5px;
    font-family: 'VAGrounded';
    color: #394267;
}

.mensaje{
    font-family: 'VAGrounded';
    color: #394267;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.user-tag{
    font-weight: bold;
    float: left;
}

.caja-comentario{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    float: left;
    margin-left: 20px;
}

.boton-enviar-comentario{
    width: 35px;
    height: 35px;
}

#user-info{
    background-color: #FFF;
    display: flex;
    flex-wrap: wrap;
}
#avatar{
    width: 250px;
    height: 250px;
    display: flex;
}

#avatar img{
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    border-radius: 50%;
}
#stats{
    width:650px;
    height: 250px;
}

#stats table{
    width: 100%;
    text-align: left;
    font-size: 25px;
    padding: 5px;
}

#galeria{
    width: 100%;
}

#galeria img{
    padding: 1px;
    margin: 1px;
    height: 250px;
    width: 32%;
    border: solid;
}

